version: '3.8'

services:
  browser_proxy:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: browser_proxy
    restart: unless-stopped
    user: "${UID}:${GID}"
    ports:
      - "8300:3000"
    volumes:
      - ./config.toml:/app/config.toml:ro
      - ./logs:/app/logs
networks:
  proxy_network:
    driver: bridge
